<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
 

    <connectionStrings>
      <add name="DefaultConnection"
        connectionString="Server=e70f27c0-60d5-45e4-82cc-a4b3002d6657.sqlserver.sequelizer.com;Database=dbe70f27c060d545e482cca4b3002d6657;User ID=lpkiduvodeyfbhzv;Password=HuDZMrMQiNmEj4WSaDoYG43HjPnFiBQvYLz5dEZi6QmCJuxmuomFeeqNA4Q7egFN;MultipleActiveResultSets=True;"
       providerName="System.Data.SqlClient" 
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
